<section class="category-card">
<h2 class="category-card__title">Best Sellers <span class="blue-books">Books</span></h2>
<ul class="category-card__list scroll">
   
    <h2 class="first-category">Combined  Print and E-Book Fiction</h2>
    <li class="category-card__item">
<ul class="category-first">
<li class="category-first__item">
<a href="" class="category-first__link">
    <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
</a>
<h3 class="category-first-name">I will find you</h3>
<p class="card-book-author">Harlan Coben</p>
</li>
<li class="category-first__item">
    <a href="" class="category-first__link">
        <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
    </a>
    <h3 class="category-first-name">I will find you</h3>
    <p class="card-book-author">Harlan Coben</p>
    </li>
    <li class="category-first__item">
        <a href="" class="category-first__link">
            <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
        </a>
        <h3 class="category-first-name">I will find you</h3>
        <p class="card-book-author">Harlan Coben</p>
        </li>
        <li class="category-first__item">
            <a href="" class="category-first__link">
                <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
            </a>
            <h3 class="category-first-name">I will find you</h3>
            <p class="card-book-author">Harlan Coben</p>
            </li>
            <li class="category-first__item">
                <a href="" class="category-first__link">
                    <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
                </a>
                <h3 class="category-first-name">I will find you</h3>
                <p class="card-book-author">Harlan Coben</p>
                </li>
</ul>
<button type="button" class="btn">SEE MORE</button>
    </li>
   
    <h2 class="second-category">COMBINED PRINT & E-BOOK NONFICTION</h2>
    <li class="category-card__item">
<ul class="category-second">
<li class="category-second__item">
<a href="" class="category-second__link">
    <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
</a>
<h3 class="category-second-name">I will find you</h3>
<p class="card-book-author">Harlan Coben</p>
</li>
<li class="category-second__item">
    <a href="" class="category-second_link">
        <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
    </a>
    <h3 class="category-second-name">I will find you</h3>
    <p class="card-book-author">Harlan Coben</p>
    </li>
    <li class="category-second__item">
        <a href="" class="category-second_link">
            <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
        </a>
        <h3 class="category-second-name">I will find you</h3>
        <p class="card-book-author">Harlan Coben</p>
        </li>
        <li class="category-second__item">
            <a href="" class="category-second__link">
                <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
            </a>
            <h3 class="category-second-name">I will find you</h3>
            <p class="card-book-author">Harlan Coben</p>
            </li>
            <li class="category-second__item">
                <a href="" class="category-second__link">
                    <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
                </a>
                <h3 class="category-second-name">I will find you</h3>
                <p class="card-book-author">Harlan Coben</p>
                </li>
</ul>
<button type="button" class="btn">SEE MORE</button>

<h2 class="second-category">COMBINED PRINT & E-BOOK NONFICTION</h2>
<li class="category-card__item">
<ul class="category-second">
<li class="category-second__item">
<a href="" class="category-second__link">
<img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
</a>
<h3 class="category-second-name">I will find you</h3>
<p class="card-book-author">Harlan Coben</p>
</li>
<li class="category-second__item">
<a href="" class="category-second_link">
    <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
</a>
<h3 class="category-second-name">I will find you</h3>
<p class="card-book-author">Harlan Coben</p>
</li>
<li class="category-second__item">
    <a href="" class="category-second_link">
        <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
    </a>
    <h3 class="category-second-name">I will find you</h3>
    <p class="card-book-author">Harlan Coben</p>
    </li>
    <li class="category-second__item">
        <a href="" class="category-second__link">
            <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
        </a>
        <h3 class="category-second-name">I will find you</h3>
        <p class="card-book-author">Harlan Coben</p>
        </li>
        <li class="category-second__item">
            <a href="" class="category-second__link">
                <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
            </a>
            <h3 class="category-second-name">I will find you</h3>
            <p class="card-book-author">Harlan Coben</p>
            </li>
</ul>
<button type="button" class="btn">SEE MORE</button>

<h2 class="second-category">COMBINED PRINT & E-BOOK NONFICTION</h2>
<li class="category-card__item">
<ul class="category-second">
<li class="category-second__item">
<a href="" class="category-second__link">
<img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
</a>
<h3 class="category-second-name">I will find you</h3>
<p class="card-book-author">Harlan Coben</p>
</li>
<li class="category-second__item">
<a href="" class="category-second_link">
    <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
</a>
<h3 class="category-second-name">I will find you</h3>
<p class="card-book-author">Harlan Coben</p>
</li>
<li class="category-second__item">
    <a href="" class="category-second_link">
        <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
    </a>
    <h3 class="category-second-name">I will find you</h3>
    <p class="card-book-author">Harlan Coben</p>
    </li>
    <li class="category-second__item">
        <a href="" class="category-second__link">
            <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
        </a>
        <h3 class="category-second-name">I will find you</h3>
        <p class="card-book-author">Harlan Coben</p>
        </li>
        <li class="category-second__item">
            <a href="" class="category-second__link">
                <img  class="card-book-image" src="/img/9780735211292.jpg" alt="book">
            </a>
            <h3 class="category-second-name">I will find you</h3>
            <p class="card-book-author">Harlan Coben</p>
            </li>
            
</ul>
<button type="button" class="btn">SEE MORE</button>
    </li>

</ul>
</section>