<section class="categories">
    <h2 class="visually-hidden">categories</h2>
    <ul class="categories-list scroll">
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>
        <li>
        <a href="" class="categories-link">All categories</a>
        </li>

    </ul>
</section>
