<div class="footer-container container">
  <a href="./index.html" class="logo-footer">
    <svg class="icon-logo-footer" width="24" height="24">
      <use href="./img/icons.svg#icon-logo"></use>
    </svg>
    <span class="logo-name-footer">Bookshelf Support</span>
  </a>

    <div class="e-mail-container">
        <form class="form-footer">
            <label class="label-footer">
                <input class="input-form" pattern="[0-9]*" type="tel" name="phone-number" placeholder="Enter your phone number"  required/>
            </label>
            <button type="submit" class="button-subscribe">
                Send
            </button>
        </form>
    </div>
</div>