<!-- <div class="backdrop" id="modalBackdrop">
    <div class="modal" id="modalContent">
        <div class="btn-sign-in">
            <button type="button" class="btn-register-logi-in" data-action="registration" style="display: flex;">
                <svg class="icon-user" width="37" height="37">
                    <use href="../img/icons.svg#icon-user"></use>
                </svg>
                <span>User</span>
            </button>
        </div>
        <nav class="nav-list-login" id="userNav" style="display: flex;">
            <ul class="list-menu-login">
                <li class="menu-home-login"><a href="./index.html" class="link-home">Home</a></li>
                <li class="shop-list-login"><a href="../shopping-list.html" class="link-shoplist-login">Shopping List
                        <svg class="icon-shop-login" width="20" height="20">
                            <use href="../img/icons.svg#icon-shop"></use>
                        </svg>
                    </a></li>
            </ul>
        </nav>
        <div class="btn-sign-logout">
            <button type="button" class="btn-register-logout" data-action="registration">Log out
                <span>
                    <svg class="icon-arrow-right" width="20" height="20">
                        <use href="../img/icons.svg#icon-arrow-right"></use>
                    </svg>
                </span>
            </button>
        </div>
    </div>
</div> -->