<div class="backdrop" id="modalBackdrop">
  <div class="modal">

    <div class="container">
      <button type="button" class="btn-register-modal">
        Sign up<svg class="icon-arrow-right-burger" width="20" height="20">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <div class="btn-sign-in">
          <div class="icon-user-circle">
            <svg class="icon-user-modal" width="19" height="19">
              <use href="./img/icons.svg#icon-user"></use>
            </svg>
          </div>
          <span class="user-name-modal">User</span>
      </div>
      <nav class="nav-list-login" style="display: flex">
        <ul class="list-menu-login">
          <li class="menu-home-login nav-menu-link">
            <a href="./index.html" class="link-home link-nav-burger">Home</a>
          </li>
          <li class="shop-list-login nav-menu-link">
            <a
              href="./shopping-list.html"
              class="link-shoplist-login link-nav-burger"
              >Shopping List
              <svg class="icon-shop-login" width="20" height="20">
                <use href="./img/icons.svg#icon-shop"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <div class="btn-sign-logout">
        <button type="button" class="btn-register-logout">
          Log out
            <svg class="icon-arrow-right-burger" width="20" height="20">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
        </button>
      </div>
    </div>
  </div>
</div>
