<div class="modal-backdrop">
  <div class="modal-window">
    <button type="button" class="modal-window-close-btn">
      <svg class="modal-window-close-btn-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <div class="modal-window-book">
      <img
        class="modal-window-book-img"
        src="https://i.pinimg.com/236x/f5/6a/23/f56a2337c49ee22c298b740c77cc8d17.jpg"
        alt=""
      />
      <div>
        <h2 class="modal-window-book-title">Book Title</h2>
        <p class="modal-window-book-author">Book Author</p>
        <p class="modal-window-book-description">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <div class="modal-window-book-wheretobuy-links-container">
          <a href="https://www.amazon.com/" class="amazon-link" target="_blank">
            <img src="./img/amazon.png" alt="" />
          </a>
          <a
            href="https://www.apple.com/apple-books/"
            class="applebooks-link"
            target="_blank"
          >
            <img src="./img/applebooks.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <button type="button" class="modal-window-book-shopping-list-button">
      Add to shopping list
    </button>
    <p class="modal-window-congratulations visually-hidden">
      Congratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
