<div class="auth-backdrop nis-hidden">
  <div class="auth-modal">
    <button class="auth-close-btn" type="button">
      <svg class="auth-close-icon" width="14" height="14">
        <use href="../img/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <form class="auth-form">
      <input type="text" name="name" id="name" placeholder="name" />

      <div class="auth-email-wrapper">
        <input type="email" name="email" id="email" placeholder="eMAIL" />
        <svg class="auth-icon" width="28" height="28">
          <use href="../img/icons.svg#icon-mail"></use>
        </svg>
      </div>

      <div class="auth-password-wrapper">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="pASSWORD"
        />
        <svg class="auth-icon" width="28" height="28">
          <use href="../img/icons.svg#icon-lock"></use>
        </svg>
      </div>

      <button class="auth-submit-btn" type="submit">Sign up</button>
    </form>

    <ul class="auth-sign-list">
      <li class="auth-sign-item"></li>
      <li class="auth-sign-item"></li>
    </ul>
  </div>
</div>
