<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/src/css/shop-list.css">
</head>

<body>

<section class="shopping-list-section container">
  <div class="shopping-list-container">
    <h1 class="shopping-list-title">
      Shopping
      <span class="shopping-list-title-color">
        List
      </span>
    </h1>

    <div class="shopping-list-empty-state">

      <p class="shopping-list-empty-text">This page is empty, add some books and proceed to order.</p>

      <picture>
        <source srcset="/src/img/shop-list.png 1x,
                        /src/img/shop-list-2x.png 2x
                        " media="(min-width:768px)" />
        <source srcset="/src/img/shop-list-mob.png 1x,
                        /src/img/shop-list-mob-2x.png 2x
                        " media="(min-width:320px)" />
        <img class="shopping-list-empty-img" src="/src/img/shop-list.png" alt="banking-app" />
      </picture>

    </div>

    <div class="basket-full">
      <ul class="shopping-list-gallery-books">
        <li class="shopping-list-books-items">
          <div class="shopping-list-books-information">
            <div class="shopping-list-basket-img">
              <img id="643282b2e85766588626a0f2" class="shopping-list-img"
                src="https://storage.googleapis.com/du-prd/books/images/9781501110375.jpg" alt="book-cover">
            </div>
            <div>
              <h2 class="shopping-list-books-title">IT ENDS WITH US</h2>
              <button type="button" class="shopping-list-button">
                <svg class="shopping-list-delete">
                  <use href="/src/img/icons.svg#icon-trash"></use>
                </svg>
              </button>
              <h3 class="shopping-list-books-category">Audio Fiction</h3>
              <p class="shopping-list-books-desc">A battered wife raised in a violent home attempts to halt the cycle
                of abuse. Read by Olivia Song. 11 hours, 11 minutes unabridged.
              </p>
              <p class="shopping-list-author">Collen Hover</p>

              <ul class="shopping-list-shop-list">
                <li class="shopping-list-shop-list-items">
                  <a class="shopping-list-shop-list-link" target="_blank"
                    href="https://www.amazon.com/Ends-Us-Novel-Colleen-Hoover-ebook/dp/B0176M3U10?tag=NYTBSREV-20">
                    <img class="shopping-list-link-amazon" src="/src/img/amazon.png" alt="logo-amazon">
                  </a>
                </li>
                <li class="shopping-list-shop-list-items">
                  <a class="shopping-list-shop-list-link" target="_blank"
                    href="https://books.apple.com/us/audiobook/it-ends-with-us-unabridged/id1439482144">
                    <img class="shopping-list-link-apple" src="/src/img/applebooks.png" alt="apple-books">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

</body>

</html>

</body>
</html>