  <section class="shopping-list-section">
    <h1 class="shopping-list-title">
      Shopping
      <span class="shopping-list-title-color"> List </span>
    </h1>
    <div class="loader-container visually-hidden "><span class="loader"></span></div>
    <div class="shopping-list-empty-state">
      <p class="shopping-list-empty-text">
        This page is empty, add some books and proceed to order.
      </p>

      <picture>
        <source srcset="./img/shop-list.png 1x, ./img/shop-list-2x.png 2x" media="(min-width: 768px)" />
        <source srcset="./img/shop-list-mob.png 1x, ./img/shop-list-mob-2x.png 2x" media="(max-width: 767px)" />
        <img class="shopping-list-empty-img" src="../img/shop-list.png" alt="banking-app" />
      </picture>
    </div>

    <ul class="shopping-list-gallery-books"></ul>

     <div id="pagination"></div>
  </section>
