<section class="support-container">
  <h2 class="support-heading">
    Support Ukraine<span>
      <svg class="support-heading-svg" width="20" height="32">
        <use href="./img/icons.svg#icon-ukraine"></use>
      </svg>
    </span>
  </h2>

  <ul class="support-list">
    <li class="support-item">
      <span class="support-number">01</span>
      <a
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
        ><img
          class="support-img"
          src="./img/support-children.png"
          alt="Save the Children logo"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <span class="support-number">02</span>
      <a
        href="https://www.projecthope.org/country/ukraine/"
        target="_blank"
        ><img
          class="support-img"
          src="./img/support-hope.png"
          alt="Project HOP logo"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <span class="support-number">03</span>
      <a
        href="https://u24.gov.ua/uk"
        target="_blank"
        ><img
          class="support-img"
          src="./img/support-united24.png"
          alt="UNITED24 logo"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <span class="support-number">04</span>
      <a
        href="https://internationalmedicalcorps.org/country/ukraine/"
        target="_blank"
        ><img
          class="support-img"
          src="./img/support-medical.png"
          alt="International Medical Corps logo"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <span class="support-number">05</span>
      <a
        href="https://www.msf.org/ukraine"
        target="_blank"
        ><img
          class="support-img"
          src="./img/support-medecins.png"
          alt="Medicins Sans Frontieres logo"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <span class="support-number">06</span>
      <a
        href="https://www.razomforukraine.org/"
        target="_blank"
        ><img
          class="support-img"
          src="./img/support-razom.png"
          alt="RAZOM logo"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <span class="support-number">07</span>
      <a
        href="https://www.actionagainsthunger.org/location/europe/ukraine/"
        target="_blank"
        ><img
          class="support-img"
          src="./img/support-hunger.png"
          alt="Action against hunger logo"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <span class="support-number">08</span>
      <a
        href="https://www.wvi.org/emergencies/ukraine"
        target="_blank"
        ><img
          class="support-img"
          src="./img/support-vision.png"
          alt="World vision logo"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <span class="support-number">09</span>
      <a
        href="https://prytulafoundation.org/en"
        target="_blank"
        ><img
          class="support-img"
          src="./img/support-prytula.png"
          alt="Serhiy Prytula Charity Foundation logo"
          height="32"
      /></a>
    </li>
  </ul>
  <button class="support-btn scroll-up">
    <svg class="support-btn-icon" width="20" height="20">
      <use href="./img/icons.svg#icon-scroll-down"></use>
    </svg>
  </button>
</section>
