<div class="support-container">
    <div class="support-title">
        <h3 class="support-heading">Support Ukraine</h3>
        <svg class="support-heading-svg" width="20" height="32">
            <use href="./img/icons.svg#icon-ukraine"></use>
        </svg>
    </div>
    <div class="wiper">
        <div class="swiper-wrapper">
            <div class="swipper-slide">
                <span class="support-number">01</span>
                <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank"><img
                        class="support-img" src="../img/support-children.png" alt="Save the Children logo"></a>
            </div>
            <div class="swipper-slide">
                <span class="support-number">01</span>
                <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank"><img
                        class="support-img" src="../img/support-children.png" alt="Save the Children logo"></a>
            </div>
            <div class="swipper-slide">
                <span class="support-number">01</span>
                <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank"><img
                        class="support-img" src="../img/support-children.png" alt="Save the Children logo"></a>
            </div>
            <div class="swipper-slide">
                <span class="support-number">01</span>
                <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank"><img
                        class="support-img" src="../img/support-children.png" alt="Save the Children logo"></a>
            </div>
            <div class="swipper-slide">
                <span class="support-number">01</span>
                <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank"><img
                        class="support-img" src="../img/support-children.png" alt="Save the Children logo"></a>
            </div>
            <div class="swipper-slide">
                <span class="support-number"></span>
                <a href="" target="_blank"><img class="support-img" src="" alt=""></a>
            </div>
            <div class="swipper-slide">
                <span class="support-number"></span>
                <a href="" target="_blank"><img class="support-img" src="" alt=""></a>
            </div>
            <div class="swipper-slide">
                <span class="support-number"></span>
                <a href="" target="_blank"><img class="support-img" src="" alt=""></a>
            </div>
            <div class="swipper-slide">
                <span class="support-number"></span>
                <a href="" target="_blank"><img class="support-img" src="" alt=""></a>
            </div>
        </div>
        <div class="swipper-buttton-prev support-btn"><svg class="swipper-button-icon">
                <use href="/src/img/icons.svg#icon-scroll-up"></use>
            </svg></div>
        <div class="swipper-buttton-next support-btn"><svg class="swipper-button-icon">
                <use href="/src/img/icons.svg#icon-scroll-down"></use>
            </svg></div>
    </div>
</div>