.bestsellers-title {
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

.last-world-title {
  color: var(--action-color);
}

.category-list-bestsellers {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.books-list {
  display: flex;
  flex-direction: column;
}

.book-item {
  display: none;
}

.book-item:nth-child(1) {
  display: block;
}

.category-title-bestsellers {
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 18px;
}

.book-title {
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.book-author {
  font-style: italic;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
}

.book-image {
  border-radius: 8px;
  width: 335px;
  height: 485px;
  margin-bottom: 14px;
}

.books-list-btn {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  padding: 14px 28px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  border-radius: 40px;
  border: 2px solid var(--action-color);
  color: currentColor;
}

.books-list-btn:hover,
.books-list-btn:focus {
  color: var(--white-color);
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .book-item:nth-child(-n + 3) {
    display: block;
  }

  .bestsellers-title {
    font-size: 48px;
    line-height: 1.08333;
  }

  .category-title-bestsellers {
    line-height: 1.71429;
    letter-spacing: 0.03em;
  }

  .books-list {
    flex-direction: row;
    gap: 25px;
  }

  .book-image {
    width: 218px;
    height: 316px;
  }

  .books-list-btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .book-item:nth-child(-n + 5) {
    display: block;
  }

  .books-list {
    gap: 24px;
  }

  .book-image {
    width: 180px;
    height: 256px;
  }

  .books-list-btn {
    margin-top: 32px;
  }
}
