.categories-list {
  display: flex;
  flex-direction: column;
  height: 228px;
  gap: 24px;
  overflow-y: auto;
}

.categories-link {
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}

.categories-link:hover,
.categories-link:focus {
  color: var(--action-color);
}

.categories-link:active {
  color: var(--action-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .categories-list {
    width: 337px;
    height: 472px;
  }

  .categories-link {
    font-size: 18px;
    line-height: 1.33333;
  }
}

@media screen and (min-width: 1440px) {
  .categories-list {
    width: 356px;
    height: 472px;
  }

  .categories-link {
    font-size: 24px;
  }
}
