.footer {
  margin-top: 40px;
  background-color: var(--main-text-color);
  border-radius: 8px 8px 0 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}

.logo-name-footer {
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
}

.form-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-form {
  font-size: 16px;
  font-style: italic;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  border-radius: 18px;
  background: var(--white-color);
  padding: 10px;
  width: 250px;
}

.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 18px;
  width: 184px;
  height: 44px;
  background: var(--action-color);
  color: var(--white-color);
  font-size: 14px;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    gap: 20px;
  }

  .logo-footer {
    padding: 18px 0;
  }

  .form-footer {
    margin-top: 10px;
    flex-direction: row;
  }
}
