@import 'basiclightbox/dist/basiclightbox.min.css';

/* for custom backdrop */
/* .auth-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--action-color);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.auth-modal {
  max-width: 335px;
  height: 384px;
  border: 2px solid var(--main-text-color);
  border-radius: 18px;
  background: #f6f6f6;
  /* for custom modal */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 40px 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-modal-sign-in {
  height: 310px;
}

.basicLightbox:has(.auth-modal) {
  background-color: #4f2ee8;
}

.auth-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: transparent;
}

.auth-close-icon {
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.auth-inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.auth-form-input {
  max-width: 295px;
  height: 50px;
  border: 2px solid var(--main-text-color);
  border-radius: 40px;
  padding: 16px 173px 16px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
}

.auth-form-input::placeholder {
  text-transform: uppercase;
  color: var(--main-text-color);
}

.auth-email-wrapper {
  position: relative;
}

.auth-input-icon {
  position: absolute;
  right: 24px;
  top: 16px;
}

.auth-password-wrapper {
  position: relative;
}

.auth-submit-btn {
  border-radius: 40px;
  border: none;
  max-width: 294px;
  height: 50px;
  background-color: var(--main-text-color);
  color: #f3f3f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.auth-sign-list {
  margin-top: 14px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sign-up-btn {
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgba(17, 17, 17, 0.5);
  border: none;
  background-color: transparent;
}

.sign-in-btn {
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgba(17, 17, 17, 0.5);
  border: none;
  background-color: transparent;
}

.current-sign {
  text-decoration-skip-ink: none;
  color: #4f2ee8;
}

.auth-name-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-modal {
    max-width: 579px;
    height: 516px;
    padding: 80px 40px;
  }

  .auth-modal-sign-in {
    height: 424px;
  }

  .auth-close-btn {
    top: 31px;
    right: 31px;
  }

  .auth-close-icon {
    width: 24px;
    height: 24px;
  }

  .auth-form {
    gap: 40px;
  }

  .auth-inputs-wrapper {
    gap: 28px;
  }

  .auth-form-input {
    max-width: 499px;
    height: 64px;
    font-size: 18px;
    line-height: 1.33;
  }

  .auth-input-icon {
    right: 32px;
    top: 18px;
    width: 28px;
    height: 28px;
  }

  .auth-submit-btn {
    max-width: 499px;
    height: 64px;
    font-size: 18px;
    line-height: 1.33;
  }

  .auth-sign-list {
    margin-top: 20px;
  }
  
  .sign-up-btn {
    font-size: 18px;
    line-height: 1.33;
  }

  .sign-in-btn {
    font-size: 18px;
    line-height: 1.33;
  }
}
