#pagination {
  display: flex;
  list-style: none;
  padding: 0px 6px;
  border: none;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.tui-page-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  font-size: 18px;
  border-radius: 50%;
  color: #111111;
  cursor: pointer;
  border: 1px solid #111111;
  text-decoration: none;
  margin-right: 8px;
}

.tui-page-btn:hover,
.tui-page-btn:focus {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
  background-color: #111111;

  .tui-ico-first,
  .tui-ico-prev,
  .tui-ico-next,
  .tui-ico-last {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white-color);
  }
}

.tui-is-selected {
  color: var(--white-color);
  background-color: #111111;
}

.tui-first {
  margin-right: 5px;
}

.tui-first-child {
  margin-right: 8px;
}

.tui-first,
.tui-prev,
.tui-next,
.tui-last {
  background-color: var(--nav-color);
  color: #111111;
}

.tui-prev {
  margin-right: 14px;
}

.tui-next {
  margin-right: 8px;
}

.tui-last {
  margin-right: 0;
}

.tui-is-disabled {
  .tui-ico-first,
  .tui-ico-prev,
  .tui-ico-next,
  .tui-ico-last {
    color: var(--secondary-text-color);
    background-color: #111111;
  }

  background-color: #111111;
}

.tui-last-child {
  margin-right: 14px;
}

.tui-ico-first::before,
.tui-ico-prev::before,
.tui-ico-next::before,
.tui-ico-last::before {
  content: '\00ab';
  font-size: 24px;
}

.tui-ico-prev::before {
  content: '\2039';
}

.tui-ico-next::before {
  content: '\203a';
}

.tui-ico-last::before {
  content: '\00bb';
}

.tui-ico-first,
.tui-ico-prev,
.tui-ico-next,
.tui-ico-last {
  color: #111111;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  cursor: pointer;
  margin: 10px;
}

.hidden {
  opacity: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  #pagination {
    margin-top: 40px;
  }

  .tui-page-btn {
    margin-right: 10px;
    width: 44px;
    height: 44px;
  }

  .tui-prev {
    margin-right: 24px;
  }

  .tui-first-child {
    margin-right: 10px;
  }

  .tui-last-child {
    margin-right: 24px;
  }

  .tui-next {
    margin-right: 8px;
  }

  .tui-last {
    margin-right: 0;
  }
}
