.shop-list-sidebar {
  display: none;
}

.shopping-list-title {
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
}

.shopping-list-title-color {
  color: var(--action-color);
}

.shopping-list-empty-state {
  width: 265px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.shopping-list-empty-text {
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
}

.basket-full {
  margin-top: 40px;
}

.shopping-list-button {
  width: 28px;
  height: 28px;
  background-color: var(--action-color);
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-list-gallery-books {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.shopping-list-books-items {
  border: 2px solid #4F2EE866;
  border-radius: 16px;
  padding: 14px;
  position: relative;
  gap: 48px;
}

.shopping-list-books-information {
  display: flex;
  gap: 20px;
}

.shopping-list-img {
  border-radius: 8px;
}

.shopping-list-books-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  margin-bottom: 4px;
}

.shopping-list-books-category {
  font-weight: 400;
  font-size: 12px;
  color: var(--secondary-text-color);
  line-height: 1.16667;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.shopping-list-books-desc {
  line-height: 1.28571;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}

.shopping-list-author {
  color: var(--secondary-text-color);
  font-style: italic;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
}

.shopping-list-shop-list {
  gap: 8px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 14px;
  right: 14px;
}

.shopping-list-link-amazon {
  width: 32px;
  height: 11px;
  filter: grayscale(100%);
}

.shopping-list-link-apple {
  width: 16px;
  height: 16px;
  filter: grayscale(100%);
}

@media screen and (min-width: 768px) {
  .shopping-list-title {
    font-size: 48px;
    line-height: 1.08333;
  }

  .shopping-list-empty-state {
    width: 349px;
    margin-top: 140px;
  }

  .shopping-list-empty-text {
    font-size: 18px;
    line-height: 1.33333;
  }

  .shopping-list-button {
    width: 34px;
    height: 34px;
    top: 24px;
    right: 24px;
  }

  .shopping-list-books-items {
    padding: 24px;
  }

  .shopping-list-books-information {
    gap: 24px;
  }

  .shopping-list-books-category {
    margin-bottom: 14px;
  }

  .shopping-list-shop-list {
    gap: 16px;
    bottom: 24px;
    right: 24px;
  }

  .shopping-list-link-amazon {
    width: 48px;
    height: 15px;
  }

  .shopping-list-link-apple {
    width: 28px;
    height: 27px;
  }

  .shopping-list-delete {
    width: 18px;
    height: 18px;
  }

  .shopping-list-img {
    width: 116px;
  }
}

@media screen and (min-width: 1440px) {
  .shop-list-sidebar {
    display: block;
  }

  .shop-list-container {
    display: flex;
    gap: 40px;
  }

  .shopping-list-empty-state {
    margin-left: 355px;
  }

  .shopping-list-empty-text {
    font-size: 18px;
    line-height: 1.33333;
  }
}
