@import url('./reset.css');
@import url('./variables.css');
@import url('./base.css');
@import url('./header.css');
@import url('./categories.css');
@import url('./support.css');
@import url('./bestsellers.css');
@import url('./footer.css');
@import url('./shop-list.css');
@import url('./scroll-up.css');
@import url('./header-modal.css');
@import url('./modal-window.css');
@import url('./modal-authorization.css');