.support-container {
  width: 335px;
  height: 460px;
  padding: 24px 40px;

  border-radius: 16px;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.support-title {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.support-heading {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.support-swiper {
  margin-bottom: 16px;
}
.swiper-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.support-item {
  display: flex;
  align-items: center;
}
.support-number {
  display: inline-block;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin-right: 16px;
}

.support-img {
  filter: brightness(0) invert(1);
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.support-btn {
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  min-height: 32px;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  transform: rotateX(0);
  transition: transform 0.5s ease-in-out;
}

.support-btn-icon {
  width: 22px;
  height: 22px;
}

@media screen and (min-width: 768px) {
  .support-container {
    max-height: 472px;
    padding-bottom: 14px;
  }
  .support-heading {
    font-size: 24px;
    line-height: 32px;
  }
  .support-swiper {
    margin-bottom: 32px;
  }

  .support-btn {
    width: 38px;
    min-height: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .support-container {
    width: 356px;
    max-height: 490px;
    padding-bottom: 24px;
  }

  .support-swiper {
    margin-bottom: 40px;
  }

  .support-btn {
    width: 38px;
    min-height: 38px;
  }
}
